.deleteButton {
  opacity: 0.7;
  color: var(--mantine-color-danger-5);
  transition:
    background-color 0.15s ease,
    opacity 0.15s ease;
}

.deleteButton:hover {
  opacity: 1;
  background-color: var(--mantine-color-danger-5);
  color: var(--mantine-color-white);
}
